:root {
  --primary-color: #637a9e;
  --background-light: #F7F7F7;
  --background-dark: #111827;
  --text-light: #111827;
  --text-dark: #F7F7F7;
  --success: #1F2937;
}

body, html, h1 {
  margin: 0;  
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
background-color: var(--background-light);
}

