@import url("global.css");
@import url("/components/header.css");
@import url("/components/navigation.css");
@import url("/components/card.css");
@import url("/components/button.css");

.profile{
    position: fixed;
top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile-image {
    width: 40%;
    border-radius: 50%;
}

.about {
    margin-top: 350px;
    justify-content: flex-start;
}

