.button {
  all: unset;
  background-color: var(--background-light);
  padding: 10px;
  border-radius: 3rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--success);
  align-self: center;
  text-align: center;
  color: var(--success);
  box-shadow: 4px 4px 10px var(--background-dark);
}

.button:hover {
  background-color: var(--success);
  color: var(--text-dark);
}
