.button-container {
  all: unset;
  display: flex;
  justify-content: center;
}

.button {
  background-color: var(--background-light);
  padding: 10px;
  border-radius: 3rem;
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--success);
  color: var(--success);
  box-shadow: 0.1rem 0.1rem 0.3rem var(--background-dark);
}

.button:hover {
  background-color: var(--success);
  color: var(--text-dark);
}
