

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10%;
 width: 350px;
height: auto;
  background: var(--primary-color);
  color: var(--text-light);
  padding: 20px;
  border-radius: 10%;
  border-width: 2.5px;
  border-style: solid;
  border-color: var(--success);
  position: absolute;
  z-index: 1;
}


.card-bookmark {
 all: unset;
  /* padding: 6px 12px; */
  position: relative;
  top: -230px;
  right: -300px;
  stroke: var(--success);
  fill: var(--primary-color);
  width: 50px; 
  height: 50px; 
  stroke-width: 0.1rem;
  z-index: 1;
}


h2{
    text-align: center;
   font-size: 2.5rem
}

h3{
    text-align: center;
   font-size: 1.5rem
}
